body {
    margin: 0;
    padding: 0;
    background-color: rgb(235, 235, 235);
}

.container {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 90px 400px repeat(3, 60px 500px);
}

.container div {
    background-size: cover;
    background-attachment: fixed;
}

.bg {
    background: url("https://images.unsplash.com/photo-1518133910546-b6c2fb7d79e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG1hdGhlbWF0aWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
}

h1 {
    font-size: clamp(3rem, 8vh, 8rem);
    font-weight: normal;
}

#header {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    border-radius: 2rem;
    
}

#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 120px;
    background-color: rgba(20, 20, 20, .9);
    font-family: Cinzel;
    color: rgb(235, 235, 235);

}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2vmax;
    text-decoration: none;
}

.back-button:link{
    color: rgb(235, 235, 235);
}

.back-button:visited{
    color: #b29700;
}

#back-arrow {
    margin-right: 0.25rem;
}

.description {
    grid-column: 2 / 5;
    height: 375px;
    border-radius: 16px;
    position: relative;
    top: 10px;
}

#summary {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 375px;

    font-family: Cinzel, serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    
    /* From https://css.glass */
    background: rgba(215, 215, 215, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7px);
    border: 2px solid #b29700;
}

#summary > p{
    margin: 0 .5rem;
}



#section-1 {
    grid-row: 3 / 4;
    grid-column: 2 / 5;
    border-radius: 2rem;


}

#section-1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: rgba(20, 20, 20, .90);
    height: 60px;
    color: rgb(235, 235, 235);
    border-radius: 2rem;
}

#prog_Projects{
    grid-row: 4/ 5;
    grid-column: 2 / 5;
    border-radius: 16px;
}

.list-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
    font-family: Cinzel, serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    
    /* From https://css.glass */
    background: rgba(215, 215, 215, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(7px);
    border: 2px solid #b29700;

    text-decoration: none;
}

.project {
    list-style: none;
}

li > a{
    text-decoration: none;
}

#section-2 {
    grid-row: 5 / 6;
    grid-column: 2 / 5;
    border-radius: 2rem;
}

#section-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: rgba(20, 20, 20, .90);
    height: 60px;
    color: rgb(235, 235, 235);
    border-radius: 2rem;
}

div>h2 {
    font-family: Cinzel;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 0.5px
}

#id_Projects {
    grid-row: 6/ 7;
    grid-column: 2 / 5;
    border-radius: 16px;
}